@inherits LayoutComponentBase

<div class="main">
	<header class="d-flex align-items-center justify-content-center">
		@*<img src="./images/logotext.png" />*@
		<div class="row">
			<h1>Soft as in Software</h1>
		</div>
		<div class="row">
			<h2>Blazor Add-in Demo</h2>
		</div>
	</header>

	@*<NavMenu />*@

	<div class="content">
		<div class="container">
			@Body
		</div>
	</div>
</div>

<footer class="d-flex align-items-center justify-content-center">
	<div class="row">
		@TrademarkMessage
	</div>
	<div class="row">
		Powered by: @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
	</div>
</footer>


@code {
	public string TrademarkMessage { get; set; } = "©" + @DateTime.Now.Year + " Soft as in Software. All rights reserved.";
}
