@page "/"

<section class="Title">
	<h1>
		Content Control Interactions
	</h1>
</section>
<section class="description text">
	<p>
		This sample demonstrates how to insert and change content control properties.
		To Do: More description text here
	</p>
</section>

<section class="setup ms-font-m">
	<h3>Set up</h3>
	<button class="btn btn-primary" @onclick="Setup">Setup</button>
</section>

<section class="samples ms-font-m">
	<div>
		<h3>Try it out</h3>
		<p>Insert content controls on each paragraph and do it all.</p>
		<button id="insert-controls" class="btn btn-primary" @onclick="InsertContentControls">Insert Content Controls</button>
	</div>

	<div class="mt-4">
		<p>Modify content control appearance and content.</p>
		<button id="change-controls" class="btn btn-primary" @onclick="ModifyContentControls">Modify Content Controls</button>
	</div>

	<!--
		 <p>
		<span class="ms-font-m">Tag and add Event Handlers on each inserted content controls.</span>
		<button id="tag-controls" class="ms-Button">
			<span class="ms-Button-label">Tag and Handle</span>
		  </button>
		<p>

	<span class="ms-font-m">Delete Even content controls (This will sadly not trigger the DeleteHandlers anymore).</span>

	<span class="ms-font-m">To bring back the Delete Handlers remove this button and restore the commented code</span>
	<button id="delete-controls" class="ms-Button">
		<span class="ms-Button-label">Delete even cc's</span>
	</button>
	-->
</section>

<hr />

<div class="row">
	<div class="col-md-6">
		<button @onclick="@(() => MoveToPage("/page2"))" class="btn btn-primary">Goto Page 2</button>
	</div>

	<div class="col-md-6">
		<button @onclick="@(() => MoveToPage("/page3"))" class="btn btn-primary">Goto Page 3</button>
	</div>
</div>
