@page "/"

<div class="row">
	<div class="col-md-4">
		<h4>
			Call JS Write Some Text to the Word Document Function
		</h4>
	</div>
	<div class="col-md-6">
		<button type="button" class="btn btn-info" @onclick="InsertParagraph">Hello World!</button>
	</div>
</div>

<section class="ms-font-m">
	This sample demonstrates how to insert and change content control properties.
</section>

<section class="setup ms-font-m">
	<h3>Set up</h3>
	<button type="button" class="btn btn-info" @onclick="Setup">Setup</button>
</section>

<section class="samples ms-font-m">
	<p>
		<h3>Try it out</h3>
		<span class="ms-font-m">Insert content controls on each paragraph and do it all.</span>
		<button id="insert-controls" class="btn btn-info" @onclick="InsertContentControls">Insert Content Controls</button>
	</p>

	<!--
		 <p>
		<span class="ms-font-m">Tag and add Event Handlers on each inserted content controls.</span>
		<button id="tag-controls" class="ms-Button">
			<span class="ms-Button-label">Tag and Handle</span>
		  </button>
		<p>

	<span class="ms-font-m">Delete Even content controls (This will sadly not trigger the DeleteHandlers anymore).</span>
	<span class="ms-font-m">To bring back the Delete Handlers remove this button and restore the commented code</span>
	<button id="delete-controls" class="ms-Button">
		<span class="ms-Button-label">Delete even cc's</span>
	</button>
	-->
	<p>
		<span class="ms-font-m">Modify content control appearance and content.</span>
		<button id="change-controls" class="btn btn-info" @onclick="ModifyContentControls">Modify Content Controls</button>
	</p>
</section>

@code {
	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
	}
}
